body{
    background-color: rgb(219, 196, 196);
    font-family: 'Times New Roman', Times, serif;
    color: yellow;
}
.subscribe{
    font-size: x-large;
    text-align: center;
    color: aliceblue;
   
}